.time {
  @media (min-width: 768px) {
    width: 125px;
  }
  .time-box {
    background: url('../../assets/img/box-time.png') no-repeat ;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #a2878a;
    border-radius: 6px;
    font-family: 'ZURCHLC', serif;
    @media (max-width: 320px) {
      font-size: 55px;
      height: 56px;
      padding: 2px;
    }
    @media (min-width: 321px) {
      font-size: 65px;
      height: 71px;
      padding: 5px;
    }
    @media (min-width: 414px) {
      height: 82px;
      padding: 10px;
    }
    @media (min-width: 768px) {
      font-size: 80px;
      height: 125px;
    }
  }
  .text {
    margin-top: 5px;
    font-size: 20px;
  }
}